body {
  font-family: sans-serif;
}

.movies {
  border-collapse: collapse;
}

.movies td,
.movies th {
  text-align: left;
  padding: 10px;
  border: 1px solid #eee;
}

.movies td:last-child,
.movies th:last-child {
  text-align: center;
}

.movie {
  margin-bottom: 5px;
  height: 45px;
  line-height: 45px;
}

.movie > img {
  width: 30px;
  height: 45px;
  vertical-align: middle;
}
